<div class="parallax_scrolling">
    <div class="dark_background">

        <header class="row">
            <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
                <p class="oxygen logo">Canberra Restaurants</p>
                <p class="niconne">Cuisine</p>
            </div>
        </header>

        <main class="row row-white">

            <section class="row">
                <div class="col-md-5 col-md-offset-1 col-sm-10 col-sm-offset-1">
                    <p class="oxygen oxygen-row oxygen-narrow">Tastes of the World</p>
                    <p class="text-black">Whether you're after the tastes of Mexico or some oriental delights, then Canberra has the restaurant for you.</p>
                    <p class="text-black" style="padding-bottom: 20px;">Check out what's on offer by selecting a cuisine from the menu below.</p>
                </div>
                <div class="col-md-5 col-sm-12">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <img src="~/images/foodimg4.jpg" class="image-column-narrow" />
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <img src="~/images/foodimg3.jpg" class="image-column-narrow" />
                    </div>
                </div>
            </section>

            <section class="row">
                <div class="col-md-9 col-sm-9 col-xs-9">
                    <div class="panel-group" id="accordion">

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#australian">Australian</a>
                                </h4>
                            </div>
                            <div id="australian" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-3 col-sm-3 col-xs-3">
                                            <img src="~/images/cglogosm.jpg" class="img-accordion" />
                                        </div>
                                        <div class="col-md-9 col-sm-9 col-xs-9">
                                            <p class="oxygen oxygen-row">Chicken Gourmet</p>
                                            <p class="text-black">Chicken Gourmet has been proudly serving Canberra since 1980! Most of the delicious food is home made, and is always fresh and healthy. We take pride in the food we serve, from our famous hot chips and chicken burgers to pizzas, lasagne and fresh and healthy salads. Chicken Gourmet also has a catering service, we can look after your events big or small. Check out our catering page for more information on menus and catering packages.</p>
                                            <p class="text-black"><a class="link-dark" href="http://chickengourmet.com.au/">Click here</a> for Chicken Gourmet's website.</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3 col-sm-3 col-xs-3">
                                            <img src="~/images/sagelogosm.png" class="img-accordion" />
                                        </div>
                                        <div class="col-md-9 col-sm-9 col-xs-9">
                                            <p class="oxygen oxygen-row">Sage</p>
                                            <p class="text-black">Sage is an exciting and innovative restaurant focusing on cutting edge cuisine in an intimate dining room. The food has been described as ‘whimsical pieces of art’ and is as much a feast for the eyes as it is for the palate. The centrepiece of Sage dining is the seven course degustation, with offerings such as Seared Scallops with chestnut cream, chorizo, celery tips & px molasses and the Caramelized Riverina Lamb Rump with grilled baby eggplant, zucchini puree & pepperonata. Finishing with a cheese course or the heavenly Chocolate Trilogy, the Sage degustation is an experience to remember.</p>
                                            <p class="text-black"><a class="link-dark" href="http://www.sagerestaurant.net.au/">Click here</a> for Sage's website.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#japanese">Japanese</a>
                                </h4>
                            </div>
                            <div id="japanese" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-3 col-sm-3 col-xs-3">
                                            <img src="~/images/chakilogosm.jpg" class="img-accordion" />
                                        </div>
                                        <div class="col-md-9 col-sm-9 col-xs-9">
                                            <p class="oxygen oxygen-row">Chaki Chaki Japanese Restaurant and Bar</p>
                                            <p class="text-black">Looking for authentic Japanese cuisine in Canberra? Chaki Chaki, located on the balcony level of Braddon's modern and stylish Ori building, and with views over Lonsdale Street from our balcony, is ready to take you on a culinary adventure. Let our head chef Yujiro give you the perfect Japanese restaurant experience. One that we believe has never been done until now. At Chaki Chaki, we are respectful of our four most important ingredients: Customer, Safety, Freshness, Health.</p>
                                            <p class="text-black"><a class="link-dark" href="http://chakichaki.com.au/">Click here</a> for Chaki Chaki's website.</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3 col-sm-3 col-xs-3">
                                            <img src="~/images/iorilogosm.jpg" class="img-accordion" />
                                        </div>
                                        <div class="col-md-9 col-sm-9 col-xs-9">
                                            <p class="oxygen oxygen-row">Iori</p>
                                            <p class="text-black">A relaxed and fun dining atmosphere in an unpretentious setting makes IORI a must for lovers of Japanese food in Canberra. Well known Japanese master chef Mamoru Aizawa leads a team of dedicated Chefs who will deliver ‘The Best Experience’ to you.</p>
                                            <p class="text-black"><a class="link-dark" href="http://iori.com.au/">Click here</a> for Iori's website.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#mexican">Mexican</a>
                                </h4>
                            </div>
                            <div id="mexican" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-3 col-sm-3 col-xs-3">
                                            <img src="~/images/ciscoslogosm.jpg" class="img-accordion" />
                                        </div>
                                        <div class="col-md-9 col-sm-9 col-xs-9">
                                            <p class="oxygen oxygen-row">Cisco's Restaurante Mexicano</p>
                                            <p class="text-black">Canberra’s authentic Mexican Restaurant with a friendly, relaxed atmosphere, great food, and of course our famous Margaritas. Our banquet options will make Cisco’s an ideal place for groups to celebrate birthdays or any other special occasion. A Tequila Menu with over twenty different offerings of the distilled cactus juice will complement old favourites like the frozen Margarita and Strawberry Daiquiri or the traditional Sangria. And of course there’s also a choice of Mexican and Australian Beers, and a range of spirits from the bar. We hope you enjoy the Cisco’s experience.</p>
                                            <p class="text-black"><a class="link-dark" href="http://www.ciscosmexicano.com.au/">Click here</a> for Cisco's website.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#middle-eastern">Middle Eastern</a>
                                </h4>
                            </div>
                            <div id="middle-eastern" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-3 col-sm-3 col-xs-3">
                                            <img src="~/images/zeelogosm.jpg" class="img-accordion" />
                                        </div>
                                        <div class="col-md-9 col-sm-9 col-xs-9">
                                            <p class="oxygen oxygen-row">Mister Zee's</p>
                                            <p class="text-black">Mister Zee’s is a Middle Eastern Charcoal Grill & Café with a modern take on flavours from the Middle East, served without ceremony. Set in a casual relaxed environment located in the heart of Canberra City we offer eat in, take away and home delivery options. Our passion is food and we pride ourselves in using quality produce that we source from local suppliers. Whether it’s a quick lunch, dinner before a movie or a catering function for a gathering, Mister Zee’s has you covered. Our food speaks for itself and is made to share with family and friends – cutlery optional.</p>
                                            <p class="text-black"><a class="link-dark" href="http://misterzees.com.au/">Click here</a> for Mister Zee's website.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Review Stuff-->

                <div class="col-md-3 col-sm-3 col-xs-3">
                    <p class="oxygen oxygen-row single-line">Reviews</p>

                    @model IEnumerable<CanberraRestaurants2.Models.Review>

                    @{ 
                        // heading, rating, comment

                        int index = 1;
                        @foreach (var item in Model)
                        {
                            <div class="single-line">
                                <p class="text-black" style="font-size: 16px; font-weight: bolder;">@Html.DisplayFor(modelItem => item.Heading)</p>
                                <p class="text-black" style="font-size: 16px;">
                                    @{
                                    int numStars = item.Rating;
                                    for (int i = 0; i < numStars; i++)
                                    {
                                        <span style="color: #f8bd08;">&#x2605;</span>
                                    }
                                    for (int i = 0; i < 5 - numStars; i++)
                                    {
                                        <span>&#x2606;</span>
                                    }
                                }
                                </p>
                                <p class="text-black">@Html.DisplayFor(modelItem => item.Comment)</p>
                            </div>
                            index++;
                        }
                    }

                    <p class="text-black">To read more reviews or to write your own review, head over to our <a asp-action="Reviews">Customer Reviews Page</a></p>

                </div>

            </section>

        </main>
    </div>
</div>