

<div class="parallax_scrolling">
    <div class="dark_background">

        <header class="row">
            <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
                <p class="oxygen logo">Canberra Restaurants</p>
                <p class="niconne">Prices</p>
            </div>
        </header>

        <main class="row row-white">

            <section class="row">
                <div class="col-md-5 col-md-offset-1 col-sm-5 col-sm-offset-1 col-xs-12">
                    <p class="oxygen oxygen-row oxygen-narrow">A Meal for Any Occasion</p>
                    <p class="text-black">Whether you want to find the best value restaurants in Canberra or are looking for something a bit more special, we are sure to have what you're looking for.</p>
                    <p class="text-black" style="padding-bottom: 20px;">Select your price range from the options below to see what's available.</p>
                </div>
                <div class="col-md-5 col-sm-5 col-xs-12">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <img src="~/images/foodimg4.jpg" class="image-column-narrow" />
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <img src="~/images/foodimg3.jpg" class="image-column-narrow" />
                    </div>
                </div>
            </section>

            <hr />

            <!--Navbar for selection-->

            <section class="row">
                <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
                    <ul class="list-inline">
                        <li class="pricelist" id="cheap-selector">Cheap Eats</li>
                        <li class="pricelist" id="mid-selector">Mid Range</li>
                        <li class="pricelist" id="fine-selector">Fine Dining</li>
                    </ul>
                </div>
            </section>

            <!--Restaurant Images. Upon selection of a price category, the non-relevant restaurants will shrink and fade. I hope. Also, clicking on the image will link to the restaurant website.-->

            <section class="row" style="padding: 10px;">
                <div class="col-md-4 col-sm-4 col-xs-12" id="reference-column">
                    <a href="http://chickengourmet.com.au/" target="_blank"><img src="~/images/cglogosm.jpg" class="cheap-eats" /></a>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <a href="http://chakichaki.com.au/" target="_blank"><img src="~/images/chakilogosm.jpg" class="mid-range" /></a>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <a href="http://www.ciscosmexicano.com.au/" target="_blank"><img src="~/images/ciscoslogosm.jpg" class="mid-range" /></a>
                </div>
            </section>

            <section class="row" style="padding: 10px;">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <a href="http://iori.com.au/" target="_blank"><img src="~/images/iorilogosm.jpg" class="fine-dining" /></a>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <a href="http://www.sagerestaurant.net.au/" target="_blank"><img src="~/images/sagelogosm.png" class="fine-dining" /></a>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <a href="http://misterzees.com.au/" target="_blank"><img src="~/images/zeelogosm.jpg" class="cheap-eats" /></a>
                </div>
            </section>

        </main>

    </div>
</div>