<!--jQuery Script to make the border of each restaurant div change colour when the user mouses over it.-->
<script src="~/js/site.js"></script>

<div class="parallax_scrolling">
    <div class="dark_background">

        <header class="row">
            <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
                <p class="oxygen logo">Canberra Restaurants</p>
                <p class="niconne">Restaurants</p>
            </div>
        </header>

        <main class="row row-white">
            <section class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <p class="oxygen oxygen-row oxygen-narrow">The Restaurants</p>
                <p class="text-black">Whether you're after the tastes of Mexico or some oriental delights, then Canberra has the restaurant for you.</p>
                <p class="text-black">Check out what's on offer by checking out our restaurants below.</p>
            </section>
            <section class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <p class="oxygen oxygen-row oxygen-narrow">Customer reviews</p>
                <p class="text-black">If you want to find out more about the restaurants highlighted below, there's plenty of information to be found at our customer reviews page.</p>
                <p class="text-black"><a asp-action="Reviews">Click here</a> to head to the customer reviews page.</p>
            </section>

            <section class="col-lg-12 col-md-12 col-sm-12 col-xs-12 black-border" style="margin-top: 50px;">
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
                    <img src="~/images/chakilogosm.jpg" class="image-column-restaurants" />
                </div>
                <div class="col-lg-1 col-md-1 col-sm-0 col-xs-0"></div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-8">
                    <p class="oxygen oxygen-row oxygen-row-narrow">Chaki Chaki Japanese Restaurant</p>
                    <p class="text-black">Looking for authentic Japanese cuisine in Canberra? Chaki Chaki, located on the balcony level of Braddon's modern and stylish Ori building, and with views over Lonsdale Street from our balcony, is ready to take you on a culinary adventure. Let our head chef Yujiro give you the perfect Japanese restaurant experience. One that we believe has never been done until now. At Chaki Chaki, we are respectful of our four most important ingredients: Customer, Safety, Freshness, Health.</p>
                    <p class="text-black"><a class="link-dark" href="http://chakichaki.com.au/">Click here</a> for Chaki Chaki's website.</p>
                </div>
            </section>

            <section class="col-lg-12 col-md-12 col-sm-12 col-xs-12 black-border">
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
                    <img src="~/images/cglogosm.jpg" class="image-column-restaurants" />
                </div>
                <div class="col-lg-1 col-md-1 col-sm-0 col-xs-0"></div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-8">
                    <p class="oxygen oxygen-row oxygen-row-narrow">Chicken Gourmet</p>
                    <p class="text-black">Chicken Gourmet has been proudly serving Canberra since 1980! Most of the delicious food is home made, and is always fresh and healthy. We take pride in the food we serve, from our famous hot chips and chicken burgers to pizzas, lasagne and fresh and healthy salads. Chicken Gourmet also has a catering service, we can look after your events big or small. Check out our catering page for more information on menus and catering packages.</p>
                    <p class="text-black"><a class="link-dark" href="http://chickengourmet.com.au/">Click here</a> for Chicken Gourmet's website.</p>
                </div>
            </section>

            <section class="col-lg-12 col-md-12 col-sm-12 col-xs-12 black-border">
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
                    <img src="~/images/ciscoslogosm.jpg" class="image-column-restaurants" />
                </div>
                <div class="col-lg-1 col-md-1 col-sm-0 col-xs-0"></div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-8">
                    <p class="oxygen oxygen-row oxygen-row-narrow">Cisco's Restaurante Mexicano</p>
                    <p class="text-black">Canberra’s authentic Mexican Restaurant with a friendly, relaxed atmosphere, great food, and of course our famous Margaritas. Our banquet options will make Cisco’s an ideal place for groups to celebrate birthdays or any other special occasion. A Tequila Menu with over twenty different offerings of the distilled cactus juice will complement old favourites like the frozen Margarita and Strawberry Daiquiri or the traditional Sangria. And of course there’s also a choice of Mexican and Australian Beers, and a range of spirits from the bar. We hope you enjoy the Cisco’s experience.</p>
                    <p class="text-black"><a class="link-dark" href="http://www.ciscosmexicano.com.au/">Click here</a> for Cisco's website.</p>
                </div>
            </section>

            <section class="col-lg-12 col-md-12 col-sm-12 col-xs-12 black-border">
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
                    <img src="~/images/iorilogosm.jpg" class="image-column-restaurants" />
                </div>
                <div class="col-lg-1 col-md-1 col-sm-0 col-xs-0"></div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-8">
                    <p class="oxygen oxygen-row oxygen-row-narrow">Iori</p>
                    <p class="text-black">A relaxed and fun dining atmosphere in an unpretentious setting makes IORI a must for lovers of Japanese food in Canberra. Well known Japanese master chef Mamoru Aizawa leads a team of dedicated Chefs who will deliver ‘The Best Experience’ to you.</p>
                    <p class="text-black"><a class="link-dark" href="http://iori.com.au/">Click here</a> for Iori's website.</p>
                </div>
            </section>

            <section class="col-lg-12 col-md-12 col-sm-12 col-xs-12 black-border">
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
                    <img src="~/images/zeelogosm.jpg" class="image-column-restaurants" />
                </div>
                <div class="col-lg-1 col-md-1 col-sm-0 col-xs-0"></div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-8">
                    <p class="oxygen oxygen-row oxygen-row-narrow">Mister Zee's</p>
                    <p class="text-black">Mister Zee’s is a Middle Eastern Charcoal Grill & Café with a modern take on flavours from the Middle East, served without ceremony. Set in a casual relaxed environment located in the heart of Canberra City we offer eat in, take away and home delivery options. Our passion is food and we pride ourselves in using quality produce that we source from local suppliers. Whether it’s a quick lunch, dinner before a movie or a catering function for a gathering, Mister Zee’s has you covered. Our food speaks for itself and is made to share with family and friends – cutlery optional.</p>
                    <p class="text-black"><a class="link-dark" href="http://misterzees.com.au/">Click here</a> for Mister Zee's website.</p>
                </div>
            </section>

            <section class="col-lg-12 col-md-12 col-sm-12 col-xs-12 black-border">
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
                    <img src="~/images/sagelogosm.png" class="image-column-restaurants" />
                </div>
                <div class="col-lg-1 col-md-1 col-sm-0 col-xs-0"></div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-8">
                    <p class="oxygen oxygen-row oxygen-row-narrow">Sage Restaurant</p>
                    <p class="text-black">Sage is an exciting and innovative restaurant focusing on cutting edge cuisine in an intimate dining room. The food has been described as ‘whimsical pieces of art’ and is as much a feast for the eyes as it is for the palate. The centrepiece of Sage dining is the seven course degustation, with offerings such as Seared Scallops with chestnut cream, chorizo, celery tips & px molasses and the Caramelized Riverina Lamb Rump with grilled baby eggplant, zucchini puree & pepperonata. Finishing with a cheese course or the heavenly Chocolate Trilogy, the Sage degustation is an experience to remember.</p>
                    <p class="text-black"><a class="link-dark" href="http://www.sagerestaurant.net.au/">Click here</a> for Sage's website.</p>
                </div>
            </section>

        </main>
    </div>
</div>